<form class="rebus-form rebus-no-<%= point.order %>" id="rebus-<%= point.order %>">

  <div class="page-header">
    <h1>
      <a href="#" onclick="switchPos(<%= point.order %>, -1);">
        <i class="icon-left-bold"></i>
      </a>
      <span class="order"><%= point.order %></span>
      <a href="#" onclick="switchPos(<%= point.order %>, 1);">
        <i class="icon-right-bold"></i>
      </a>
    </h1>
    <p class="form-inline pointpos">
      <label>Proximity range</label>
      <input class="span2 range" type="range"  min="0" max="100" onchange="changeRadius(<%= point.order %>, $(this).val());" value="<%= point.range %>" />
    </p>
  </div>

  <textarea class="span3" placeholder="Write a rebus here that gives the participant an idea of where to go."><%= point.rebus %></textarea>

  <div class="form-inline pointpos">
    <label>Latitude</label>
    <input type="text" class="span1 disabled" disabled value="<%= point.lat %>">
    <label>Longitude</label>
    <input type="text" class="span1 disabled" disabled value="<%= point.lng %>">
  </div>
</form>
